# Rust-specific files
target/
tests/
Dockerfile
**/*.rs.bk

# Version control
.git
.gitignore

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Log files
*.log

# Temporary files
*.tmp
